article {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    text-align: center;

    img {
      max-width: 30%;
      max-height: 10%;
      box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
      margin-bottom: 15px;
    }

    p {
      text-align: center;
      font-size: smaller;
    }
  }

  .postbody {
    max-width: 60%;

    h2 {
      text-align: center;
    }

    p {
      text-align: left;
    }
  }

  footer {
    font-style: italic;
    font-size: smaller;
  }

  .hr {
    color: grey;
    background-color: grey;
    height: 0.5;
    border-color: grey;
    width: 60%;
  }
}

.commentdetail {
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 60%;
  margin: 10px auto;

  p {
    text-align: left;
    font-style: italic;
  }

  ul {
    border: 1px dashed grey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;

    li {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 10px 0;
      font-size: small;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    margin: 20px auto;

    input {
      margin-left: 0.25rem;
    }

    button {
      margin-top: 10px;
    }
  }
}
