@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body {
  font-family: 'Comfortaa', cursive;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  background-color: #EEEEEE;
}

nav {
  ul {
    list-style:none;
    background-color: black;
    margin:0;
    padding:0;
    text-align:center;
  }

  li {
    border: none;
    color: white;
    display:inline;
  }

  li:hover {
    background-color: grey;
  }

} 
  
  // h3 {
  //   float: center;
  //   display: inline;
  //   color: white;
  //   text-align: center;
  //   padding: 3px 10px;
  //   text-decoration: none;
  //   font-size: 20px;
  // }

  // h3:hover {
  //   background: #ddd;
  //   color: black;
  // }

main {
  padding: 16px;
  margin-top: 30px;
}

h2 {
  font-size: 1.3em;
}