.postlist {
  max-width: 70%;
  margin: auto;

  ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
    margin: 20px auto;
    padding: 0;

    li {
      min-width: 200px;
      display: flex;
      flex-direction: column;
      margin: 10px auto;
      border-radius: 10px;
      align-items: center;
      max-width: 25%;
      padding: 0;

      a {
        text-decoration: none;

        img {
          margin: 0;
          border-radius: 10px;
          width: 100%;
          height: 12vw;
          object-fit: cover;
        }

        h2 {
          display: -webkit-box;
          overflow: hidden;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          color: black;
        }

        .blurb {
          display: -webkit-box;
          overflow: hidden;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          color: rgb(103, 99, 99);
        }

        .date {
          color: rgb(150, 148, 148);
          font-size: smaller;
        }
      }
    }
  }
}
